/* Layout */
.mid-section {
  max-width: 840px;
  min-width: 320px;
  margin: auto;
  overflow: hidden;
  /* height: 100dvh; */
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .mid-section {
    flex-direction: column-reverse;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  background: #eee;
  overflow: hidden;
  /* border-radius: 0px 0px 24px 24px; */
}

.tab-btns {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.book-btn,
.quiz-btn,
.yavar-btn {
  flex-grow: 1;
}

.nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 64px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.nav-btn:hover {
  background: #ddd;
}

.tab-label {
  margin-right: 8px;
  font-size: 16px;
}

.fehrest-btn .tab-label,
.menu-btn .tab-label {
  display: none;
}

.active-tab-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33.33%; /* activeTabIndicator.style.width = `${100 / tabsCount}%`; */
  height: 4px;
  background-color: dodgerblue;
  transition: transform 0.3s;
}

@media screen and (max-width: 600px) {
  .nav-btn {
    flex-direction: column;
  }

  .tab-label {
    margin-right: 0px;
    font-size: 14px;
  }

  .fehrest-btn .tab-label,
  .menu-btn .tab-label {
    display: block;
  }

  .active-tab-indicator {
    top: 0;
  }
}

.icon--fehrest {
  font-size: 36px;
  transform: scale(-1);
}
.icon--book {
  font-size: 32px;
}
.icon--quiz {
  font-size: 32px;
  transform: rotate(45deg);
}
.icon--yavar {
  font-size: 32px;
}
.icon--menu {
  font-size: 30px;
}

.tabs {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease;
  width: 300%; /* tabsContainer.style.width = `${100 * tabsCount}%`; */
  height: calc(100vh - 58px);
  height: calc(100dvh - 58px);
}

.tab-container {
  flex-shrink: 0;
  overflow: auto;
  width: 33.33%; /* tabContainer.style.width = `${100 / tabsCount}%`; */
  height: 100%;
  position: relative;
}

/* tabsContainer.style.transform = `translateX(${index * (100 / tabsCount)}%)`; */
/* activeTabIndicator.style.transform = `translateX(${index * -100}%)`; */

.book-section {
  height: 100%;
  overflow: auto;
}

p {
  line-height: 1.5rem;
}

/* 2 - sidebars */
.sidebar {
  position: fixed;
  top: 0;
  /* transform: translatex(-50%); */
  width: 320px;
  height: 100vh;
  padding: 12px;
  background-color: #ebebeb;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.sidebar-right {
  right: 0;
  /* transform: translateX(+105%); */
  transform: translateX(+0%);
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 70;
  /* border-radius: 24px; */
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  /* scrollbar-width: none;  */
  /* -ms-overflow-style: none;  */
}

.sidebar-left {
  left: 0;
  /* transform: translateX(-105%); */
  transform: translateX(+0%);
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 90;
  /* border-radius: 24px; */
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* .opened-sidebar {
  transform: translateX(0%);
} */

.closer-btn {
  all: unset;
  cursor: pointer;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;
  border-radius: 64px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 1;
}

.closer-btn:hover {
  background-color: rgba(0, 0, 0, 0.1); /* فقط کمی تغییر رنگ پس‌زمینه */
  transform: scale(1.05);
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
}

.icon--cancel {
  font-size: 36px;
}

/* .backdrop {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
} */

.fehrest-backdrop {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;

  z-index: 65;
  opacity: 25%;
}

.menu-backdrop {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;

  z-index: 80;
  opacity: 50%;
}

.backdrop-visible {
  display: block;
}

/* Fehrest right sidebar */
.fehrest-section {
  height: 100%;
  overflow: auto;
  position: relative;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer 10+ */
  /* padding: 12px; */
}

.fehrest-header {
  margin-top: 20px;
  position: relative;
  /* margin-top: 16px; */
}

.book-selector-label {
  font-size: 16px;
  margin-bottom: 4px;
  margin-right: 16px;
  font-weight: bold;
  z-index: 10;
  width: 96px;
  text-align: center;
  transform: translateY(60%);
  /* position: absolute; */
  display: block;
  background-color: #ebebeb;
}

.book-selector {
  cursor: pointer;
  border: 1px solid #838383;
  width: 100%;
  height: 48px;
  padding-right: 8px;
  margin-bottom: 16px;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s ease;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: left 12px center;
  background-repeat: no-repeat;
  background-size: 32px;
}

.fehrest-list {
  box-sizing: border-box;
}

.section-list-item {
  color: #000;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  padding: 5px 8px;
  /* height: 34px; */

  display: block;
  margin-block: 4px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.section-list-item:hover {
  color: #333;
  background-color: rgba(225, 163, 193, 0.6);
}

.fehrest-list > li > *:first-child::before {
  content: "❯";
  padding-left: 8px;
  padding-right: 0px;
}

/* .chapter {
  margin-bottom: 4px;
} */

/* .chapter::before {
  content: "❯";
  padding-left: 8px;
  padding-right: 0px;
} */

.article {
  color: #000;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  padding: 5px 8px;
  /* height: 34px; */

  display: block;
  margin-block: 4px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.article:hover {
  color: #333;
  background-color: rgba(225, 163, 193, 0.6);
}

.subsections {
  border-right: 2px solid #000;
  padding-right: 4px;
  margin-bottom: 8px;
  margin-right: 12px;
  overflow: hidden;
  /* max-height: 0; */
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.fehrest-list div.active {
  color: #333;
  background-color: rgba(225, 163, 193);
}

.subsections.expanded {
  max-height: 100vh;
}

li.chapter:last-of-type {
  margin-bottom: 64px;
}

/* Menu left sidebar */
/* 3 - menu */
.menu-section {
  display: grid;
  grid-template-areas:
    "user-img           user-name "
    "user-img           user-role "
    "divider               divider "
    "menu-items-container  menu-items-container";
  grid-template-columns: auto 1fr;
  /* justify-items: stretch; */
  /* align-items: stretch; */
  margin-top: 24px;
  gap: 8px 16px;
  margin-right: 8px;
}

.user-img {
  grid-area: user-img;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 50%;
  border: 3px solid #007bff;
  /* margin: 0 16px 16px 16px; */
}

.user-name {
  grid-area: user-name;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 6px;
}

.user-role {
  grid-area: user-role;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  padding: 4px 12px;
  border-radius: 36px;
  width: fit-content;
}

.divider {
  grid-area: divider;
  height: 1px;
  background-color: rgb(108, 108, 108);
  margin: 8px 0px;
  border-radius: 30px;
}

.menu-items-container {
  grid-area: menu-items-container;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item::before {
  content: "❯";
  font-size: 16px;
  color: #000;
  margin: 0 8px;
}

.menu-item {
  color: #000;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  /* margin: 8px 0; */
  padding: 8px 8px;
  /* margin-bottom: 4px; */
}

.menu-item {
  display: block;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.menu-item:hover {
  color: #333;
  background-color: rgb(145, 198, 255);
  /* background-color: rgba(225, 163, 193, 0.6); */
}

.menu-item.active {
  color: #333;
  background-color: rgb(0, 123, 255);
  /* background-color: rgba(225, 163, 193); */
}
